<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
    <ion-title>Available</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
