<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ownerForm" (ngSubmit)="submit()">

    <ion-input type="hidden" value="" formControlName="id"></ion-input>
    <ion-input type="hidden" value="" formControlName="userRef"></ion-input>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input value="" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input value="" formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input value="" formControlName="mobileNo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button class="ion-padding" type="submit" [disabled]="!ownerForm.valid" expand="block">Update</ion-button>

  </form>




</ion-content>