<div>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h2>Rooms</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</div>