<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="available">
      <ion-icon name="radio-button-off-outline"></ion-icon>
      <ion-label>Available</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="occupied">
      <ion-icon name="radio-button-on-outline"></ion-icon>
      <ion-label>Occupied</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>