<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item button [routerLink]="['/room']">
          <ion-icon slot="start" name="bed-outline"></ion-icon>
          <ion-label>Rooms</ion-label>
        </ion-item>
        <ion-item href="javascript:void(0)">
          <ion-icon slot="start" name="body-outline"></ion-icon>
          <ion-label>Tenants</ion-label>
        </ion-item>
        <ion-item href="javascript:void(0)">
          <ion-icon slot="start" name="documents-outline"></ion-icon>
          <ion-label>Contracts</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>


</ion-content>
