<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="(owner$ | async) as owner">
    <ion-col>
      <app-owner-card [owner]="owner"></app-owner-card>
    </ion-col>
  </ion-row>

</ion-content>
