<div>
  <ion-item lines="none">
    <h3>Owner</h3>
  </ion-item>

  <ion-card>
    <ion-card-content [routerLink]="['/owner']" [queryParams]="{u: owner.userRef}" [state]="owner">
      <ion-item lines="none">
        <!-- <ion-avatar slot="start">
          <img src="https://avatars.githubusercontent.com/u/63181610?v=4">
        </ion-avatar> -->
        <!-- <ion-icon slot="start" name="person-circle-outline"></ion-icon> -->
        <ion-label>
          <h2>{{owner.name}}</h2>
          <h3>{{owner.email}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</div>